<% title "Toast" %>

<p>
  <strong>Bread:</strong>
  <%=h @toast.bread %>
</p>

<p>
  <%= link_to "Edit", edit_toast_path(@toast) %> |
  <%= link_to "Destroy", @toast, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", toasts_path %>
</p>
